/*********** reset */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}
html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
}

/*********** titulo */
.header {
    position: sticky;
    z-index: 7;
    top: 0;
    padding: 0.2rem;
    background-color: var(--main-color);
    color: var(--second-color);
}
.header h1 {
    padding: 0 auto;
    text-align: center;
}

/*********** secciones */
.section {
    padding: 2rem;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
    border: solid 1px var(--second-color);
}

.panel {
    position: fixed;
    z-index: 8;
    width: 100%;
    top: 1vh;
    bottom: 0;
    left: 1vh;
    right: 0;
    background-color: var(--second-color);
    opacity: 0;
    overflow-y: auto;
    /* para hacer que se mueva */
    /* visibility: hidden; */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: translate(0, 100%);
}
.panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
    /* visibility: visible; */
}

/*********** boton hamburguesa */
button.panel-btn {
    position: fixed;
    z-index: 9;
    bottom: 1vh;
    right: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
button.panel-btn:hover {
    background-color: gray;
}

/*********** menu */
.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.menu a {
    width: inherit;
    padding: 2rem;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}
.menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-color);
}
.stage {
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}
.ball {
    width: 4rem;
    height: 4rem;
    background-color: var(--main-color);
    border-radius: 50%;
    margin: auto;
}
/* boton para volver al inicio */
.scroll-top {
    position: fixed;
    z-index: 9;
    bottom: 1vh;
    right: calc(4.25rem + 1vh);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color: black;
    cursor: pointer;
    outline: 0;
    border: 0;
    font-size: 2rem;
    transition: all 0.3s ease-out;
}
.scroll-top:hover {
    background-color: gray;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
/* tema oscuro */
.dark-theme {
    position: fixed;
    z-index: 9;
    bottom: 1vh;
    left: calc(1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color: black;
    cursor: pointer;
    outline: 0;
    border: 0;
    font-size: 2rem;
    transition: all 0.3s ease-out;
}
.dark-theme:hover {
    background-color: gray;
}
.dark-mode {
    background-color: black;
    color: white;
}
.online,
.offline {
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: green;
    color: white;
}
.offline {
    background-color: red;
}
/* filtro de busqueda */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card img {
    width: 100%;
    height: auto;
}
.filter {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    /* para que se recorran al final */
    order: 1;
}

/***** Responsive Slider *****/
.slider {
    position: relative;
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    /* background-color: red; */
}
.slider-slides {
    position: relative;
    height: 400px;
}
.slider-slide {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out;
}
.slider-slide img {
    width: inherit;
    height: inherit;
    /* para que las imagenes se adapten al contenedor sin deformarse */
    object-fit: cover;
    /* para acomodar el contenido de las imagenes (x, y)*/
    /* object-position: 50% 50%; */
}
.slider-slide.active {
    opacity: 1;
    visibility: visible;
}
.slider-btns {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.slider a {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: rgba(195, 194, 194, 0.25);
    border-radius: 50%;
    text-decoration: none;
    color: gray;
    transition: all 0.3s ease;
}
.slider a:hover {
    color: white;
}

/*********** ScrollSpy */

@media screen and (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas:
            "header header"
            "main   panel";
    }
    .header {
        grid-area: header;
    }
    .main {
        grid-area: main;
    }
    .panel {
        grid-area: panel;
        align-self: start;
        justify-content: flex-start;
        position: sticky;
        top: 4rem;
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }
    button.panel-btn {
        display: none;
    }
    .menu a {
        font-size: 0.9rem;
        padding: 0.75rem;
        text-align: right;
    }
    .menu a.active {
        background-color: var(--main-color);
        color: var(--second-color);
        font-weight: bold;
    }
    .scroll-top {
        right: initial;
        left: calc(4.5rem + 1vh);
    }
}

/* video */
video {
    width: 100%;
}

/* validacion de formulario */
.contact-form {
    --form-ok-color: green;
    --form-error-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.contact-form > * {
    display: block;
    width: 100%;
    padding: 0.5rem;
}
.contact-form textarea {
    resize: none;
}
.contact-form legend,
.contact-form-response {
    font-size: 1.5rem;
    text-align: center;
}
.contact-form input,
.contact-form textarea {
    font-size: 1.2rem;
}
.contact-form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin: 1rem auto auto auto;
}
.contact-form *::placeholder {
    color: var(--second-color);
}

/* para validar que el contenido del input es valido */
.contact-form [required]:valid {
    border: solid thin var(--form-ok-color);
}
/* para validar que el contenido del input es no valido */
.contact-form [required]:invalid {
    border: solid thin var(--form-error-color);
}
/* para mostrar mensajes dinamicos de error */
.contact-form-error {
    /* margin-top: -1rem; */
    font-size: 80%;
    background-color: var(--form-error-color);
    color: white;
    transition: all 800ms ease;
}
.contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0 ease-out both;
}
.none {
    display: none;
}

/* animacion */
@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
